html {
    height: 100%;
}

body {
    /*background: #d9dbe2;*/
    background: #f4f4f6;
    height: 100%;
    overflow-y: scroll;
}

body.print {
    background: white !important;
    overflow-y: auto !important;
}

table.print {
    width: 100%;
}

table.print {
    border-collapse: collapse;
    font-size: 0.9em;
}

table.print th {
    border: 2px solid black;
    padding: 6px;
}

table.print td {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-collapse: collapse;
    padding: 6px;
    font-size: 0.9em;
}

table.print td.no-borders, table.print th.no-borders {
    border: none;
}

table.print tr.full-borders td {
    border: 2px solid black;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield !important;
}
