<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Комплектование.Цельные короба</title>
</head>
<body>
<div class="table-header container">
    <h3 id="order-name"></h3>
    <h3 id="customer"></h3>
    <h3 id="address"></h3>
    <button class="done" onclick="window.location.href = '/logout'">Выход</button>
    <h3 id="date"></h3>
    <h3 id="user">{{ . }}</h3>
</div>

<div>
    <button>Create pallet</button>
    <div id="big-order-table">
        <table>
            <thead>
            <tr>
                <th>№ п/п</th>
                <th>Позиция</th>
                <th>Всего</th>
                <th>Собрано</th>
                <th>Осталось</th>
                <th>Статус</th></tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
            <tr></tr>
            <tr>Итого:</tr>
            <tr>0</tr>
            <tr>0</tr>
            <tr>0</tr>
            <tr>-</tr>
            </tfoot>
        </table>
</div>


</body>
</html>