<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Логин</title>
</head>
<body>
<div class="login-page">
    <div class="form">
        <fieldset id="outerLegend">
            <legend>Вход в приложение:</legend>
            <form class="login-form" action="/login/enter" method="post">
                <label>Логин<input type="text" placeholder="пользователь" name="login" required/></label>
                <label>Пароль<input type="password" placeholder="пароль" name="password" required/></label>
                <label><input type="submit" value="Войти"></label>
            </form>
        </fieldset>
    </div>
</div>
</body>
</html>