<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Отгрузка.Заказы</title>
</head>
<body>
<div class="header">
    <h1>BBS</h1>
    <h2>Отгрузка. Росстат. Заказы.</h2>
</div>
<div class="table-header container">
    <button class="done" onclick="window.location.href = '/logout'">Выход</button>
    <h3 id="date"></h3>
    <h3 id="user">{{ . }}</h3>
</div>
<div id="ship-all-orders-table">
    <table>
        <thead>
        <tr>
            <th>№ п/п</th>
            <th>Заказ</th>
            <th>Заказчик</th>
            <th>Адрес</th>
            <th>Тираж</th>
            <th>Паллет</th>
            <th>Коробок</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>
</body>
</html>